# /etc/systemd/system/pykmip-server.service

[Unit]
Description=pykmip server
After=network.target

[Service]
User=pykmip-server-user
PAMName=login
# WorkingDirectory=/cesta/k/adresari
ExecStart=/usr/local/bin/pykmip-server
Type=simple
RestartSec=20
Restart=always
TimeoutSec=60
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target